{% extends 'base.html' %}

{% block title %}
StepTools
{% endblock %}

{% block content %}
<p class="lead"><strong>Solução alcançada!</strong></p>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead text-center">{{teste.solucao}}</p>
        </div>
    </div>
<p class="lead">Ficamos felizes em te ajudar na solução deste problema, caso deseje seguir com uma nova solução <a href="index">clique aqui</a> para recomeçar</p>
{% endblock %}
<!--shadow p-3 mb-5 bg rounded-->