{% extends 'base.html' %}

{% block title %}
StepTools
{% endblock %}

{% block content %}
<p class="text-justify font-weight-light">Enfrentar um problema de hardware em um computador as vezes pode ser desafiador, buscar
    por soluções, e arriscar procedimentos que não são costumeiramente realizados, pode trazer grande
    desconforto, e na maioria das vezes é necessário contatar um profissional, que entenda da área e que
    seja de confiança para entregar o computador em sua responsabilidade, porém este processo pode ser
    demorado e custoso, ocasionando atrasos nas tarefas do dia a dia.</p>
<p class="font-weight-light font-weight-bold">StepsTools tem o propósito de te auxiliar a solucionar um problema de hardware enfrentado no equipamento.</p>
<p class="text-justify font-weight-light text-justify">Espero poder te ajudar!</p>
<p class="text-justify font-weight-light text-justify">Para iniciar uma solução de problemas clique no botão a baixo e siga as etapas.</p>

<div class="d-flex justify-content-center">
    <a href="equipamento" role="button" class="btn btn-primary btn-lg">Iniciar</a>
</div>
</br>

{% endblock %}