{% extends 'base.html' %}

{% block title %}
StepTools
{% endblock %}

{% block content %}
<form method="post" action="{%url 'teste' %}">
    <p class="lead">Testes relacionados ao(s) componente(s):<strong> {{teste.componente}}</strong>.</p>
    {% if teste.conhecimento == 1 %}
        <p class="lead">Nível de conhecimento técnico: <strong>Básico</strong>.</p>
    {%endif%}
    {% if teste.conhecimento == 2 %}
        <p class="lead">Nível de conhecimento técnico: <strong>Intermadiário</strong>.</p>
    {%endif%}
    {% if teste.conhecimento == 3 %}
        <p class="lead">Nível de conhecimento técnico: <strong>Avançado</strong>.</p>
    {%endif%}
    {% csrf_token %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="d-flex justify-content-center">
                <p class="lead">{{teste.teste}}</p>
            </div>
            <div>
                    <button class="btn btn-primary" type="submit" name="botao" value="sim">Sim</button>
                    <button class="btn btn-primary" type="submit" name="botao" value="nao">Não</button>
                    <button class="btn btn-primary" type="submit" name="botao" value="nao se aplica">Não se aplica</button>
                <!--<button class="btn btn-primary" type="submit" name="botao" value="sim">Sim</button>
                    <button class="btn btn-primary" type="submit" name="botao" value="nao">Não</button>-->
            </div>
        </div>
    </div>   
</form>
{% endblock %}